# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Ignores libraries
/lib/*

# Node modules
node_modules/*

# Docs
docs/

# Dotenv file
.env

# Coverage reports
coverage/
coverage.json

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# JSON Templates
json.templates/